body {
    margin: 0;
    background-color: #faf4d0da;
    opacity: 90%;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 20px;
    font-family:'Courier New', 'Courier', 'Lucida Sans Typewriter';
    text-shadow: 0.5px 0.5px;
    margin-top: 10vh;
    color: rgba(0, 0, 0, 0.705);
}

.menu ul {
    list-style-type: none;
    text-align: center;
    padding: 10px 110px 90px 110px;
    background: rgba(251, 242, 188, 0.63);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.085);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(251, 242, 188, 0.25);
}

.menu ul .me a {
    color: rgba(168, 28, 28, 0.784);
}

.menu ul .outbound a {
    color: rgb(156, 84, 16);
}

.menu ul a {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 128, 0, 0.729);
}

.menu ul .title {
    padding-bottom: 3vh;
}

.menu ul .dot {
    color: rgba(0, 0, 0, 0.705);
    text-shadow: 1px 1px;
}

.menu ul img {
    max-height: 150px;
    transform: translateX(-4px);
}

p {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    font-family: 'Courier New', 'Courier', 'monospace', 'Lucida Sans Typewriter';
    font-size: large;
    text-align: center;
}

.home {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    font-family: 'Courier New', 'Courier', 'monospace', 'Lucida Sans Typewriter';
    font-size: large;
    text-align: center;
}

.books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1vh;
    font-family: 'Courier New', 'Courier', 'monospace', 'Lucida Sans Typewriter';
    font-size: large;
    text-align: center;
}