body {
    margin: 0;
    background-color: #fef8cfc1;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: large;
    font-family: 'Lucida Sans Typewriter', 'Courier New', Courier, monospace;
    margin-top: 10vh;
}

.menu ul {
    list-style-type: none;
    text-align: center;
}
