body {
    margin: 0;
    background-color: #faeea8c3;
    opacity: 90%;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: large;
    font-family: 'Lucida Sans Typewriter', 'Courier New', Courier, monospace;
    margin-top: 10vh;
    color: rgba(0, 0, 0, 0.705);
}

.menu ul {
    list-style-type: none;
    text-align: center;
}

.menu ul a {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 128, 0, 0.729);
}

.menu ul .title {
    padding-bottom: 2.5vh;
}

.menu ul img {
    max-height: 75px;
    padding-bottom: 1vh;
}

p {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    font-family: 'Lucida Sans Typewriter', 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
}